@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: quicksand;
    box-sizing: border-box;
}

/* Navigation */
.navigation {
    padding: 2rem 2rem 4rem 2rem;
    height: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    margin: 0 auto;
    background-color: #153332;
    border-radius: 0 0 .6rem .6rem;
    position: sticky;
    top: 0;
    transition: height 1s ease-in-out;
}

.navigation .desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation .mobile {
    display: none;
    transition: display 1s ease-in-out;
}

.navigation.toggled {
    height: 20rem;
}

.navigation.toggled .mobile.set {
    display: block;
}

/* desktop list */
.navigation .desktop h2 {
    color: white;
    margin: 0;
    white-space: nowrap;
    cursor: default;
}

.navigation .desktop ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

/* mobile list  */
.navigation .mobile ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.navigation .mobile ul li:nth-child(1) {
    margin-top: 3rem;
}

.navigation .mobile ul li {
    margin-bottom: 3rem;
}

.navigation ul li {
    list-style-type: none;
}

.navigation ul li a {
    text-decoration: none;
    color: white;
    transition: color .3s ease;
}

.navigation ul li a:hover, .fa-bars:hover {
    color: #97B0AF;
}

.barsbtn {
    display: none;
    padding: .5rem;
    background-color: transparent;
    border-radius: .3rem;
    cursor: pointer;
    border: none;
}

.fa-bars {
    color: white;
    font-size: 1.5rem;
    transition: color .3s ease;
}

/* homepage */
#pengertian {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #97B0AF;
    color: white;
    padding: 4rem;
}

#pengertian h3 {
    margin-bottom: 3rem;
}

#produk {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: flex-end;
}

#produk h3 {
    margin-bottom: 3rem;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    height: 16rem;
    border: .01rem solid black;
    border-radius: 1rem;
    box-shadow: .6rem .7rem .6rem black;
    gap: 1rem;
    transition: transform .4s ease-in;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: inherit;
    height: 12rem;
    border-radius: 1rem 1rem 0 0;
}

.card h4 a {
    text-decoration: none;
    color: black;
    transition: color .4s ease-in;
}

.card:hover h4 a {
    color: blue;
}

/* Article */
.desc {
    padding: 4rem 2rem 10rem 2rem;
    background-color: #4C7371;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

p {
    color: white;
    font-size: 1.3rem;
    text-align: justify;
    text-indent: 1rem;
}

.desc img {
    border-radius: 1rem;
    width: 30rem;
}

footer {
    padding: 10rem 0;
    display: flex;
    justify-content: center;
    background-color: #153332;
    color: white;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 10rem;
    background-color: #97B0AF;
}

.about p {
    margin-bottom: 1rem;
}

.about h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bolder;
    color: white;
}

/* @media (max-width: 1440px) {
    .navigation ul {
        margin-left: 35rem;
    }
}
*/
@media (max-width: 1124px) {
    .barsbtn {
        display: block;
    }
    .navigation .desktop ul {
        display: none;
    }
    .desc {
        flex-direction: column;
    }
    .desc img {
        width: 20rem;
    }
    .about {
        padding: 10rem 2rem;
    }
} 

@media (max-width: 768px) {

}