#pengertian {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #97B0AF; */
    color: black;
    padding: 16rem 8rem;
}

article h3, main h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

#pengertian p {
    text-indent: 1.5rem;
    text-align: justify;
    font-size: 1.5rem;
}

#produk {
    color: white;
    /* background-color: #fffdd0; */
    background-color: #97B0AF;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.card {
    background-color: white;
    text-align: center;
    width: 18rem;
    height: 20rem;
    border: .01rem solid black;
    border-radius: 1rem;
    box-shadow: .6rem .7rem 1.2rem black;
    gap: 1rem;
    transition: transform .4s ease-in;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 100%;
    height: 12rem;
    border-radius: 1rem 1rem 0 0;
}

.card h4 {
    margin-top: 2rem;
    padding: 0 2rem;
}

.card h4 a {
    text-decoration: none;
    color: black;
    transition: color .4s ease-in;
}

.card:hover h4 a {
    color: blue;
}

#artikel {
    color: black;
    /* background-color: #97B0AF; */
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1125px) {
    #pengertian {
        padding: 8rem 2rem;
    }

    #pengertian p {
        line-height: 1.65rem;
        font-size: 1rem;
    }

    #produk {
        padding: 5rem 0;
    }
}