/* color */
#dawet .about {
    background-color: #4C7371;
}

/* deskripsi */
.desc {
    color: black;
    padding: 4rem 2rem 10rem 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    /* font-size: 2rem; */
}

p {
    font-size: 1.6rem;
    text-align: justify;
    text-indent: 1rem;
}

.desc img {
    border-radius: 1rem;
    width: 30rem;
}

/* asal usul */
.about {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 10rem;
    /* background-color: #97B0AF; */
}

.about p {
    margin-bottom: 1rem;
}

.about h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
    font-weight: bolder;
    color: white;
}

@media (max-width: 1125px) {
    .desc {
        flex-direction: column;
    }
    .desc img {
        width: 20rem;
    }
    .about {
        padding: 10rem 2rem;
    }
}