/* color */
#dawet .about {
    background-color: #4C7371;
}

/* deskripsi */
.desc {
    color: black;
    padding: 4rem 2rem 10rem 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    /* font-size: 2rem; */
}

p:not(footer p) {
    font-size: 1.6rem;
    text-align: justify;
    text-indent: 1rem;
}

.desc img {
    border-radius: 1rem;
    width: 30rem;
}

/* asal usul */
.about {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 10rem;
    /* background-color: #97B0AF; */
}

.about p {
    margin-bottom: 1rem;
}

.about h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
    font-weight: bolder;
    color: white;
}

.recipe {
    text-align: center;
    padding: 4rem 6rem;
}

.recipe h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.card {
    background-color: white;
    text-align: center;
    width: 18rem;
    height: 20rem;
    border: .01rem solid black;
    border-radius: 1rem;
    box-shadow: .6rem .7rem 1.2rem black;
    gap: 1rem;
    transition: transform .4s ease-in;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 100%;
    height: 12rem;
    border-radius: 1rem 1rem 0 0;
}

.card h4 {
    margin-top: 2rem;
    padding: 0 2rem;
}

.card h4 a {
    text-decoration: none;
    color: black;
    transition: color .4s ease-in;
}

.card:hover h4 a {
    color: blue;
}

@media (max-width: 1125px) {
    .desc {
        flex-direction: column;
    }
    .desc img {
        width: 20rem;
    }
    .about {
        padding: 10rem 2rem;
    }
}