@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: quicksand;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #F9F6EE;
}

/* Navigation */
.navigation {
    padding: 2rem 2rem 4rem 2rem;
    height: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    margin: 0 auto;
    background-color: #153332;
    border-radius: 0 0 .6rem .6rem;
    position: sticky;
    top: 0;
    transition: height 1.5s ease-in-out;
    z-index: 1;
}

.navigation .desktop h2 {
    border-right: .15rem solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s, cursor .6s .4s step-end infinite;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

.navigation .desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation .mobile {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
}

.navigation.toggled {
    height: 20rem;
}

#home .navigation.toggled {
    height: 25rem;
}

.navigation.toggled .mobile.set {
    opacity: 1;
    visibility: visible;
}

/* desktop list */
.navigation .desktop h2 a {
    text-decoration: none;
    color: white;
    margin: 0;
    transition: color .3s ease;
}

.navigation .desktop h2 a:hover {
    color: #97B0AF;
}

.navigation .desktop ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

/* mobile list  */
.navigation .mobile ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.navigation .mobile ul li:nth-child(1) {
    margin-top: 3rem;
}

.navigation .mobile ul li {
    margin-bottom: 3rem;
}

.navigation ul li {
    list-style-type: none;
}

.navigation ul li a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: color .3s ease;
}

.navigation ul li a:hover, .fa-bars:hover {
    color: #97B0AF;
}

.barsbtn {
    display: none;
    padding: .5rem;
    background-color: transparent;
    border-radius: .3rem;
    cursor: pointer;
    border: none;
}

.fa-bars {
    color: white;
    font-size: 1.5rem;
    transition: color .3s ease;
}

footer {
    text-align: center;
    background-color: #153332;
    color: white;
}

footer p {
    text-align: center;
}

@media (max-width: 1124px) {
    .barsbtn {
        display: block;
    }
    .navigation .desktop ul {
        display: none;
    }
} 

@media (min-width: 1125px) {
    .navigation.toggled, #home .navigation.toggled {
        height: 0;
    }
    .navigation .mobile ul, #home .navigation .mobile ul {
        opacity: 0;
        visibility: hidden;
    }
}

@media (max-width: 768px) {

}